/* Color Theme Swatches in Hex */
.Principal { color: #ca1c1c; }
.Segundario { color: #05C503; }
.Alternativa { color: #9FC131; }
.Destaque { color: #DBF227; }
.Fundo-5-hex { color: #D6D58E; }

html {
    background-color: #D6D58E ;
    color: #ca1c1c;

    font-size: 17px;
    font-family: sans-serif;
}

a {
    color: #05C503;
}

strong {
    color: #DBF227;
}
 
p {
    text-indent: 1em;
}

h1 {size: 1.8rem;}
h2 {size: 1.4rem;}
h3 {size: 1.2rem;}

h1, h2, h3 {
  text-align: center;
}

.summary    {text-align: center;}
.main p {
    line-height: 1.5;
}
abbr {
    font-variant: small-caps;
}
